
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script>!function(a,b,c,d,e){a[c]=a[c]||{},a[c].env="",a[c].id=d,a[c].st=(new Date).getTime(),a[c].env="test"==a[c].env||"test2"==a[c].env||"pre"==a[c].env?a[c].env:"";var f=[],g=b.createElement("script");g.onload=g.onreadystatechange=function(){if(!g.readyState||/loaded|complete/.test(g.readyState)){g.onload=g.onreadystatechange=null;var a=f.length;if(0==a)return!1;for(var b=0;b<a;b++)"[object Function]"===Object.prototype.toString.call(f[b])&&f[b]()}},g.src="//lc"+a[c].env+".ucarinc.com/lc.js";var h=b.getElementsByTagName("script")[0];h.parentNode.insertBefore(g,h),a[c].putEvt=function(b){return a[c].putBe?(b&&b(),!1):void f.push(b)},a[c].types=e;for(var i=0;i<a[c].types.length;i++)if("pe"==a[c].types[i]){var j=[];a.onerror=function(b,d,e,f){j.push("m="+b+"&u="+d+"&l="+e+"&r="+f),a[c].initPe=j.join(",")};break}}(window,document,"LCTJ","eeffffff",["rc","pe","rt","cl","se"]);
    !function(a,b,c,d,e){a[c]=a[c]||{},a[c].env="",a[c].id=d,a[c].st=(new Date).getTime(),a[c].env="test"==a[c].env||"test2"==a[c].env||"pre"==a[c].env?a[c].env:"";var f=[],g=b.createElement("script");g.onload=g.onreadystatechange=function(){if(!g.readyState||/loaded|complete/.test(g.readyState)){g.onload=g.onreadystatechange=null;var a=f.length;if(0==a)return!1;for(var b=0;b<a;b++)"[object Function]"===Object.prototype.toString.call(f[b])&&f[b]()}},g.src="//dms"+a[c].env+".ucarinc.com/dms.js";var h=b.getElementsByTagName("script")[0];h.parentNode.insertBefore(g,h),a[c].putEvt=function(b){return a[c].putBe?(b&&b(),!1):void f.push(b)},a[c].types=e;for(var i=0;i<a[c].types.length;i++)if("pe"==a[c].types[i]){var j=[];a.onerror=function(b,d,e,f){j.push("m="+b+"&u="+d+"&l="+e+"&r="+f),a[c].initPe=j.join(",")};break}}(window,document,"DMS","dnnnnnnnn",["rc","pe","rt","cl","se"]);</script>

    <title>神州租车——全球租车领导品牌</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="租车,租车网,租车公司,汽车租赁">
    <meta name="description" content="神州租车，亚洲租车大品牌，全国千家网点，100+车型任选，无限里程，100%保障，还免预授权免违章押金；智能取还，随需而用，7*24小时客户服务。TEL：400-616-6666">
    <!-- 新版所用css文件 -->
    <link rel="stylesheet" type="text/css" href="../../../../css/main@6676a8bb55.css" />
</head>
<body class="bodycolor zc_cft">
<!--head start -->

<input type = "hidden" id="mebId" value = '29500861'>

<form action="https://passport.zuche.com/memberManage/xtoploginMember.do" id="loginTopForm" target="_parent" method="post">
    <input type="hidden" id="act" name="act" value="loginSys"/>
    <input type="hidden" id="historyLocation" name="historyLocation" />
</form>
<div class="zc_head_bd">

    <div class="zc_main">
        <a href="../../../../firstpage.html" class="zc_logo" alt="神州租车"></a>
        <ul class="zc_menu">
            <li  >
                <a href="../../../../firstpage.html">首页</a>
            </li>
            <li >
                <a href="../../../shangmenqusong/duanzu.html">上门取送</a>
            </li>
            <li  >
                <a href="../../../daodianquhuan/duanzu.html" >到店取还</a>
            </li>
            <li  >
                <a href="../../../changzu/changzu.html" >长租</a>
            </li>
            <li  >
                <a href="../../../shunfengche/shunfengche.html" >顺风车</a>
            </li>
            <li  >
                <a href="kaipiaolishi.html" >企业租车</a>
            </li>
            <li  >
                <a href="kaipiaolishi.html" >门店</a>
            </li>
            <li>
                <a href="kaipiaolishi.html" >活动</a>
            </li>
            <li  >
                <a href="kaipiaolishi.html" >国际租车</a>
            </li>
        </ul>
        <div class="zcindex_login" >
            <div class="wdl" id="notLogin">
                <a href="../../../login/login.html" class="colfabe00" id="loginBT" >登录</a>
                <b>/</b>
                <a href="../../../register/register.html" class="colfabe00" >注册</a>
                <a href="../../../gerenzhongxin/wodedingdan/duanzuzijia/duanzuzijia.html" class="colc8c8ce ml20" >我的神州</a>
            </div>
            <div class="ydl"  style="display: block;" id="alreadyLogin">
                <h1 id="topLoginName" ></h1>
                <div class="zc_index_my">
                    <a href="../../../gerenzhongxin/wodedingdan/duanzuzijia/duanzuzijia.html" class="top">我的神州<i class="zc_ordown"></i></a>
                    <div class="contmyszlist">
                        <div class="p-re">
                            <span class="y">◆</span>
                            <a href="../../../gerenzhongxin/wodedingdan/duanzuzijia/duanzuzijia.html" class="bhpr reddot"  >我的订单

                            </a>
                            <a href="../../../gerenzhongxin/wodezichan/keyongjifen/keyongjifen.html">我的资产</a>
                            <a href="../../../gerenzhongxin/wodezhanghu/wodexinxi/wodexinxi.html">我的账户</a>
                            <a href="../../../../firstpage.html" >退出登录</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="zc_phone_bd">
            <div class="p-re zc_p_h">
                <span class="zc-tel"></span>
                <div class="zc_ga_phonebox"><img src="https://image.zuchecdn.com/newversion/news/common/zc_gaphone.png?v=20160516" alt="港澳台及海外电话861058209555"></div>
            </div>
        </div>
    </div>
</div><!--head end -->
<!--myhead start -->

<input type="hidden" value="2" id="isBusinessMemberInfo">
<div class="zc_myhead">
    <div class="zc_main">
        <div class="fl my_weather">
            <h2><i class="sssd"></i></h2>
            <div class="weatherinfo">
                <ul id="weathermobile"></ul>
            </div>
        </div>
        <div class="fl my_member">
            <div class="mm_hpicon" id="hpicon">
                <i class="ordinary_m_icon"></i>
            </div>
            <p>
					<span class="mm_name">
李***					</span>&#12288;
                <span class="mm_jb" id="mm_jb">普通卡</span>
            </p>
            <a href="https://mycar.zuche.com/member/getMemberLevel.do">
                <div class="progressbar">
                    <div class="wbg"></div>
                    <div class="number">
                        <span id="showNumber1">0</span>/<span id="showNumber2">50</span>
                    </div>
                </div>
            </a>
            <input type="hidden" id="percent" value="0"/>
            <input type="hidden" id="couponred" value=""/>

            <div class="fs">我的累计积分: <span class="cor pointer" id="showNumber3" onclick="window.location.href='https://mycar.zuche.com/queryPoint/queryAllPoint.do?flag=curIntegral'">0</span>，
                <span class="cor pointer" id="showNumber4">+50</span>就能成为
                <span class="cbl pointer" id="showLevelDesc">银卡</span>会员！</div>
        </div>
        <div class="fl my_infor">
            <ul class="privateinvestor">
                <li id="rentcoinNum">
                    <a href="/queryPoint/queryAllPoint.do" class="gojf">
                        <b id="point">0<em> 分</em></b>
                    </a>
                    <span>
	                        	<a href="/queryPoint/queryAllPoint.do">可用积分</a>
	                        	<i id="rentcoinRedPoint"></i>
	                        	<div class="integral-sc">
	                        		<img src="https://image.zuchecdn.com/newversion/news/common/integralsc.png">
	                        		<i><a href="https://mycar.zuche.com/scoreshop/getGoodsList.do" class="or">积分兑换优惠券</a></i>
	                        	</div>
	                        </span>
                </li>
                <li id="couponNum">
                    <a href="/queryCoupon/queryCoupon.do" class="goyhq">
                        <b id="couponCount">0<em> 张</em></b>
                        <span>优惠券<i id="couponRedPoint"></i></span>
                    </a>
                </li>
                <li>
                    <a href="/queryAccount/queryAccount_detail.do"  class="goczk">
                        <b id="giftcardCount">0<em> 元</em></b>
                        <span>储值卡</span>
                    </a>
                </li>
                <li>
                    <a href="/queryAccount/queryBalance.do"  class="gozhye">
                        <b id="remainBalance">
                            0<em> 元</em>
                        </b>
                        <span>账户余额</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div><!--myhead end -->
<!--my main start -->
<div class="zc_main zc_mycon">

    <div class="zc_myleft fl">
        <dl class="meberlist">
            <dt>我的订单</dt>
            <dd id="orderTitle"><a href="javascript:void(0);" onclick="window.location.href='../../wodedingdan/duanzuzijia/duanzuzijia.html'">短租自驾
                <span id="leftOrderCount1">(2)</span></a></dd>
            <dd id="sfcheTitle"><a href="javascript:void(0);" onclick="window.location.href='../../wodedingdan/shunfengche/shunfengche.html'">顺风车
                <span id="leftOrderCount2">(0)</span></a></dd>
            <dd id="hertzTitle"><a href="javascript:void(0);" onclick="window.location.href='kaipiaolishi.html'">国际租车
                <span id="leftOrderCount3">(0)</span></a></dd>
        </dl>
        <dl class="meberlist" id="assertTitle">
            <dt id="assertTitle">我的资产</dt>
            <dd><a href="../../wodezichan/keyongjifen/keyongjifen.html">可用积分<span id="leftAssertCount1">(0分)</span></a></dd>
            <dd><a href="../../wodezichan/youhuijuan/youhuijuan.html">优惠券<span id="leftAssertCount2">(0张)</span></a></dd>
            <dd><a href="../../wodezichan/chuxuka/chuxuka.html">储值卡<span id="leftAssertCount3">(0元)</span></a></dd>
            <dd><a href="../../wodezichan/zhanghuyue/zhanghuyue.html">账户余额<span id="leftAssertCount4">(0元)</span></a></dd>
            <dd><a href="../../wodezichan/yinhangka/yinhangka.html">银行卡<span id="leftAssertCount5">(0张)</span></a></dd>
        </dl>
        <dl class="meberlist" id="accountTitle">
            <dt>我的账户</dt>
            <dd class="ma1"><a href="../../wodezhanghu/wodexinxi/wodexinxi.html">我的信息</a></dd>
            <dd class="ma2"><a href="../../wodezhanghu/renlianshibie/renlianshibie.html">人脸识别</a></dd>
            <dd class="ma5"><a href="../../wodezhanghu/wodedengji/wodedengji/wodedengji.html">我的等级</a></dd>
            <dd class="ma6"><a href="../../wodezhanghu/denglumima/denglumima.html">登录密码</a></dd>
            <dd class="ma7"><a href="../../wodezhanghu/zhifumima/zhifumima.html">支付密码</a></dd>
            <dd class="ma8"><a href="../../wodezhanghu/jiazhaorenzheng/jiazhaorenzheng.html">驾照认证</a></dd>

        </dl>
        <dl class="meberlist" id="invoicmanage">
            <dt>发票管理</dt>
            <dd class="billing"><a href="../../fapiaoguanli/genjudingdan/genjudingdan.html">根据订单开发票</a></dd>
            <dd class="history"><a href="../../fapiaoguanli/kaipiaolishi/kaipiaolishi.html">开票历史记录</a></dd>
            <dd class="setup"><a href="../../fapiaoguanli/changyongxinxi/changyongxinxi.html">常用信息设置</a></dd>
        </dl>
        <dl class="meberlist">
            <dt>会员条款</dt>
            <dd id="mebnotcTitle"><a href="../../huiyuantiaokuan/huiyuanguizhang/huiyuanguizhang.html">会员章程</a></dd>
            <dd id="mebruleTitle"><a href="../../huiyuantiaokuan/huiyuanxize/huiyuanxize.html">会员细则</a></dd>
        </dl>
    </div>
    <div class="zc_myright fr inv_history">
    <div class="zc_myassets_bd orderlist_bd" >
        <div class="h2">
            <div class="fl">
                <span class="title">开发票历史记录</span>
            </div>
            <div class="clear" style="height:0px;line-height:0px;font-size:0px;"></div>
        </div>
        <div class="main_content ">
            <div class="info_nav">
                <ul>
                    <li class="invoice_info current" data-operate="title_info" data-type="1">
                        <h4>未完成订单</h4>
                    </li>
                    <li class="invoice_addr" data-operate="addr" data-type="2">
                        <h4>已完成订单</h4>
                    </li>
                </ul>
            </div>
            <div class="zc_notinfo_bd" style="display: none;">
                <img src="https://image.zuchecdn.com/newversion/news/common/grayka.png" width="120" height="120">
                <p>您目前没有开票历史记录</p>
            </div>
            <ul class="invoice_list" id="invoice_list">

            </ul>
            <p class="ac searchLoading d_none newwait" style="display: none;">
                <img src="https://image.zuchecdn.com/newversion/common/loading.gif" width="30" height="30" style="display:block;margin:0 auto">
                载入中，请稍等...
            </p>
            <div class="load more">
                <p class="more">加载更多</p>
                <p class="nomore">已经到底了</p>
            </div>



        </div>
    </div>
</div>
    <div class="clear"></div>
</div>
<script id="listTemplate" type="text/x-jsrender">
{{for list}}
<!-- 开票状态1.待开票2开票中3.已开票 4.开票失败-->
	   <li class="
	     {{if  status==1}}pending{{else status==2}}processing{{else status==3}}processed{{else status==4}}fail{{/if}}
	    {{if category==1}}electronic {{else}}paper{{/if}}" data-order-id="{{>orderId}}" data-invoice-id="{{>invoiceId}}" data-category="{{>category}}" data-status="processed">
            <div class="inv_item time_id">
                <p>
                    <span>开票订单 : </span>
                    <a href="https://order.zuche.com/order/QueryOrderDetailControl.do?orderId={{>orderId}}"><span class="orderid">{{>orderNo}}</span></a></p>
                <p>
                    <span>申请时间 : </span>
                    <span class="date_time">
                        <em class="date">{{>applicationTime}}</em>
                    </span>
                </p>
            </div>
            <div class="inv_item money">
                <p>
                    <span>开票金额 : </span>
                    <span class="sum">¥{{>sum}}</span>
                </p>
            </div>
            {{if invoiceContent}}
                <div class="inv_item money">
                    <p>开票内容 :<span>{{>invoiceContent}}</span></p>
                </div>
            {{/if}}
            <div class="inv_item type">
                <p>发票类型 : <span>{{if category==1}}电子发票 {{else}}纸质发票{{/if}}</span></p>
            </div>
            <div class="inv_item operate">
                {{if category==1 && status==3}}
                <span class="send-email-btn" data-invoice-id="{{>invoiceId}}">下载电子发票</span>
                {{/if}}
                {{if status==1}}
                <span class="modify-btn" data-order-id="{{>orderId}}"  data-category="{{>category}}">修改信息</span>
                {{/if}}
            </div>
            <div class="inv_item status">
                <p>
                    <span class="state">{{>statusDesc}}</span>
                    <span class="arc"></span>
                </p>
            </div>
            <div class="inv_detail">
                <p class="ac searchLoading d_none newwait" style="display: block;">
                    <img src="https://image.zuchecdn.com/newversion/common/loading.gif" width="30" height="30" style="display:block;margin:0 auto">
                    载入中，请稍等...
                </p>
             </div>
        </li>

{{/for}}
</script>
<script id="invoiceDetailTemplate" type="text/x-jsrender">

        <ul class="electronic">
            <li class="brief">
                <p class="inv_title">
                    <span>开票抬头 : </span>
                    <span>{{>title}}</span>
                </p>
                {{if taxpayerID}}
                <p class="inv_title">
                   <span>纳税人识别号 : </span>
                    <span>{{>taxpayerID}}</span>
                </p>
                {{/if}}
                <p class="inv_title">
                    <span>开票内容 : </span>
                    <span>{{for content}}{{:#data}}&nbsp;{{/for}}</span>
                </p>
                {{if taxpayerID}}
                <p class="inv_title">
                   <span>注册地址 : </span>
                    <span>{{>registerAddress}} </span>
                </p>
                {{/if}}
                {{if taxpayerID}}
                <p class="inv_title">
                   <span>注册电话 : </span>
                    <span>{{>registerTelephone}}</span>
                </p>
                {{/if}}
                {{if taxpayerID}}
                <p class="inv_title">
                   <span>开户银行 : </span>
                    <span>{{>bankName}}</span>
                </p>
                {{/if}}
                {{if taxpayerID}}
                <p class="inv_title">
                   <span>银行账号 : </span>
                    <span>{{>bankAccount}}</span>
                </p>
                {{/if}}
            </li>
            <li class="order_info">
                <h4>订单信息</h4>
                <div class="info_item time">
                    <p>
                        <span>用车时间 : </span>
                        <span class="get_date">{{>takeDateTime}}</span>
                        <span> — </span>
                        <span class="send_date">{{>returnDateTime}}</span>
                    </p>
                </div>
                <div class="info_item shop">
                    <p class="get_info">
                        <span>取车地点 : </span>
                        <span class="city" title="{{>takeAddress}}">{{>takeAddress}}</span>
                    </p>
                    <p class="send_info">
                        <span>还车地点 : </span>
                        <span class="city" title="{{>returnAddress}}">{{>returnAddress}}</span>
                    </p>
                </div>
            </li>
            <li class="receive_info">
                <h4>接收信息</h4>
                <div class="email">
                    <p>
                        <span>电子邮箱 : </span>
                        <span>{{>email}}</span>
                    </p>
                </div>
                <div class="address">
                    <p class="addr_item_ibk linkman">
                        <span>联系人 : </span>
                        <span>{{>receiver}}</span>
                    </p>
                    <p class="addr_item_ibk mobile">
                        <span>联系电话 : </span>
                        <span>{{>phone}}</span>
                    </p>
                    <p class="addr_item_ibk postcode">
                        <span>邮政编码 : </span>
                        <span>{{>postcode}}</span>
                    </p>

                    <p class="addr">
                        <span>详细地址 : </span>
                        <span title="{{>address}}" class="detail">{{>address}}</span>
                    </p>
                </div>
            </li>
        </ul>

</script>
<!--my main end -->
<!--foot start -->
<div class="zc_righttool">
    <div class="zc_tool">
        <ul class="ulbox">
            <li class="libox p-re" id="rtoolphone">
                <a href="https://shouji.zuche.com" target="_blank" class="abox"><span class="zc_phone_i"></span>手<br>机<br>版</a>
                <div class="zc_tool_phone" style="display:none ">
                    <div class="p-re">
                        <div class="rightsj">◆<span class="arrowicon">◆</span></div>
                        <div class="rtoolphone">
                            <img src="https://image.zuchecdn.com/newversion/news/common/indexqcode.png" width="120" height="120" class="qcode">
                            <p>扫描二维码下载</p><p>神州租车手机版</p>
                            <a href="https://itunes.apple.com/cn/app/id454685734?mt=8" rel="nofollow" target="_blank" class="rtooldownbut">iPhone 版下载</a>
                            <a href="https://static.zuchecdn.com/download/SZZC.apk" rel="nofollow" target="_blank"  class="rtooldownbut">Android 版下载</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="libox p-re" id="rtoolQRCode">
                <a href="javascript:;" target="_blank" class="abox"><span class="zc_weixin_i" ></span>福<br>利</a>
                <div class="zc_tool_QRCode" style="display:none ">
                    <div class="p-re">
                        <div class="rightsj">◆<span class="arrowicon">◆</span></div>
                        <div class="rtoolQRCode">
                            <img src="https://image.zuchecdn.com/newversion/news/common/weixinqcode.png" width="120" height="120" class="qcode">
                            <p><br>扫描二维码</p><p>一 键 关 注</p>
                            <p class="pt15">周周有福利</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="zc_foottool">
    <ul>
        <li>
            <a href="javascript:void(0);" onclick="javascript:window.open('http://multimedia.gateway.ucarinc.com:2003/IM/Web/index.html',
            		'newwindow','toolbar=no,scrollbars=yes,resizable=no,top=50%,left=50%,width=800,height=600');">
                <span class="zc_service_i"></span></a>
            <div class="zc_foottooltipe">
                <div class="p-re"><div class="rightsj">◆</div>在线客服</div>
            </div>
        </li>
        <li>
            <a href="https://help.zuche.com/" target="_blank"><span class="zc_help_i"></span></a>
            <div class="zc_foottooltipe">
                <div class="p-re"><div class="rightsj">◆</div>帮助中心</div>
            </div>
        </li>
        <li>
            <a href="#" ><span class="zc_top_i"></span></a>
            <div class="zc_foottooltipe">
                <div class="p-re"><div class="rightsj">◆</div>返回顶部</div>
            </div>
        </li>
    </ul>
</div>
<script type='text/javascript' id='bdshare_js' data='type=tools' ></script>
<script type='text/javascript' id='bdshell_js'></script><div class="zc_footmenu">
    <div class="zc_main">
        <dl class="wyd">
            <dt><a href="https://www.zuche.com">租车</a>预订说明</dt>
            <dd>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz1">服务时间</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz03">待租车况</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz05">服务预订</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz02">短租产品</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz04">租车资格</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz06">取还车说明</a>
            </dd>
        </dl>
        <dl class="why">
            <dt>会员管理</dt>
            <dd>
                <a target="_blank" href="https://mycar.zuche.com/member/person/personinfo/memberNotify.do">会员章程</a>
                <a target="_blank" href="https://mycar.zuche.com/member/person/personinfo/memberRule.do">会员细则</a>
                <a target="_blank" href="https://mycar.zuche.com/member/getMemberLevel.do">定级积分</a>
            </dd>
        </dl>
        <dl class="wsj">
            <dt>紧急事务处理</dt>
            <dd>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz07">保险责任</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz08">理赔说明</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz09">事故处理</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz10" style="clear:both;">救援及备用车</a>
            </dd>
        </dl>
        <dl class="wfy">
            <dt><a href="https://www.zuche.com">租车</a>费用及结算</dt>
            <dd>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz11">价格说明</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz13">结算流程</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz14">储值卡</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp#fwgz15">积分</a>
            </dd>
        </dl>
        <dl class="wbz">
            <dt>帮助中心</dt>
            <dd>
                <a target="_blank" href="https://help.zuche.com/cjwt/">常见问题</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/xssl.jsp">新手上路</a>
                <a target="_blank" href="https://help.zuche.com/jsp/newhelp/fwgz.jsp">服务规则 </a>
            </dd>
        </dl>
    </div>
</div>
<!--footmenu end -->
<!--footcopyright start -->
<div class="zc_footcopyright">
    <div class="zc_main">
        <div class="ainfor">
            <a title="关于我们" href="https://huodong.zuche.com/gywm/">关于我们</a>
            <a title="投资者关系" target="_blank" href="https://ir.zuche.com">投资者关系</a>
            <a target="_parent" title="新闻中心" href="https://news.zuche.com">新闻中心</a>
            <a title="加盟合作" target="_blank" href="https://jiameng.zuche.com">加盟合作</a>
            <a title="隐私保护" target="_parent" href="https://huodong.zuche.com/ysbh/">隐私保护</a>
            <a title="网站导航" target="_parent" href="https://help.zuche.com/sitemap/">网站导航</a>
            <a title="联系我们" target="_parent" href="https://huodong.zuche.com/lxwm/">联系我们</a>
            <a title="招贤纳士" target="_blank" href="http://hr.ucarinc.com">招贤纳士</a>
            <a target="_blank" href="https://en.zuche.com" class="eng_wz">English<i class="eng_icon"></i></a>
        </div>
        <div class="zc_copyright">
            <p class="fl">Copyright©2008-2019 www.zuche.com All Rights Reserved.&#12288;北京神州汽车租赁有限公司 京ICP备10005002号   京公网安备号 11010502026705</p>
            <p class="fr">如果您对神州租车网站有任何意见，欢迎发送邮件到 <a href="Mailto:web@zuche.com" class="yellowmailt">web@zuche.com</a></p>
            <p class="clear pt10">
                <a target="_blank" href="https://ss.knet.cn/verifyseal.dll?sn=2011091400100014977&amp;ct=df&amp;pa=294005" tabindex="-1" id="urlknet" class="sz_k"></a>
                <a target="_blank" id="___szfw_logo___" href="https://search.szfw.org/cert/l/CX20121016001772002081" title="诚信网站" class="sz_c"></a>
            </p>
        </div>
    </div>
</div><!--foot end -->

<script type="text/javascript">
    var carwrmURL='https://static.zuchecdn.com';
    var carwrmjsURL = 'https://js.zuchecdn.com';
    var carwrmimageURL = 'https://image.zuchecdn.com';
    var carwrmcssURL = 'https://css.zuchecdn.com';
    var carwlomURL = "https://changzu.zuche.com";
    var carwcmsURL='https://huodong.zuche.com';
    var carwdmURL = "https://service.zuche.com";
    var carwepmURL='https://carbusiness.zuche.com';
    var carwlmURL='https://passport.zuche.com';
    var carwmmURL = "https://mycar.zuche.com";
    var carwsomURL='https://www.zuche.com';
    var enURL='https://en.zuche.com';
    var orderURL='https://order.zuche.com';
    var leasingURL='https://leasing.zuche.com';
    var easyrideURL='https://easyride.zuche.com';
    var serviceURL='https://service.zuche.com';
    var carbusinessURL='';
    var driverURL='';
    var carwsztoneURL="https://carbusiness.zuche.com";
    var remarkimgURL="https://remarkimg.zuchecdn.com";
    var internationalURL="https://international.zuche.com";
</script>
<script type="text/javascript" src="../../../../js/sea@68b90934d7.js"></script>
<script type="text/javascript" src="../../../../js/seajs-preload@11b2cc155e.js"></script>
<script type="text/javascript" src="../../../../js/seaconfig@6ecc8d0dfe.js"></script>

<script type="text/javascript">
    seajs.use(['divided/mm/entry/jQ@a576d97fa6'],function(){
        seajs.use([
            'divided/mm/entry/lib@3b38d9541c',
            'divided/mm/entry/common@0c85188f15'
        ]);
    });
</script>
<script type="text/javascript">
    seajs.use(['divided/mm/entry/jQ@a576d97fa6','divided/mm/entry/lib@3b38d9541c'],function(){
        seajs.use(['divided/mm/entry/invoicemanage/invoicehistory@689fba0bdc']); //引入js
    });
</script>
</body>
</html>